:root {
  --clr-accent: hsl(180, 100%, 60%);
  --clr-dark: hsl(180, 100%, 5%);
  --clr-border: hsl(180, 100%, 20%);
  --clr-error: hsl(9, 100%, 54%);
  --clr-error-bg: hsl(9, 100%, 75%);

  --radius-sm: 10px;
  --radius-lg: 20px;

  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;

  --transition-fast: 150ms ease-in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input,
button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
}

form,
.wrapper {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  text-align: center;
  padding: var(--gap-xl);
  border-radius: var(--radius-lg);
  min-width: 500px;
}

form h2 {
  font-size: 2.5rem;
}

form .err-message {
  color: var(--clr-error);
  background-color: var(--clr-error-bg);
  padding-block: var(--gap-md);
  border-radius: var(--radius-sm);
  border: 1px solid var(--clr-error);
}

form .input-box {
  position: relative;
  border: 1px solid var(--clr-border);
  border-radius: var(--radius-sm);
  margin-top: var(--gap-lg);
}

.input-box input {
  width: 100%;
  padding: var(--gap-md) var(--gap-lg);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: var(--gap-lg);
  transform: translateY(-50%);
  color: var(--clr-border);
  transition: transform var(--transition-fast);
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  color: var(--clr-dark);
  font-size: 0.85rem;
  transform: translateY(-200%);
  background-color: var(--clr-accent);
  padding-inline: var(--gap-sm);
  font-weight: 500;
}

form p,
.wrapper p {
  margin-top: var(--gap-xl);
  font-size: 0.95rem;
  color: var(--clr-border);
}

form a,
.wrapper a {
  color: var(--clr-dark);
}

.wrapper p {
  margin-top: 0;
}

.wrapper a {
  margin-top: var(--gap-md);
  display: block;
  text-decoration: none;
}

form a:hover {
  text-decoration: none;
}
form a:active {
  color: var(--clr-border);
}

form button,
.wrapper a {
  cursor: pointer;
  margin-top: var(--gap-lg);
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  display: block;
  width: 100%;
  padding-block: var(--gap-md);
  border-radius: var(--radius-sm);
  font-weight: 800;
  transition: filter var(--transition-fast);
}

form button:hover,
.wrapper a:hover {
  filter: brightness(1.5);
}

form button:active,
.wrapper a:active {
  filter: brightness(1.85);
}
